body{
    
    background-image: url(pexels-manon-ridet-2157179082-34606112.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;}
h4{
    text-align: right;
}


    

    




