body{
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url(pexels-denis-linine-214373-714256.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
} 
.topBar {
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  
}

.topBar .flag {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}


.topBar .heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 3rem; 
  font-weight: 700;
  letter-spacing: 1px;
  

}
.topBar .home {
  background-color: deepskyblue;
  padding: 6px 10px;
  margin: 0;
  font-size: 0.75rem;
  border-radius: 12px;
}


 
.info .details {
  font-family: 'Merriweather', serif;
  line-height: 1.7;
  color: #222;
  margin-top: 8px;
  font-size: larger;
}


.info .sub {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 6px;
}
.mid .locations {
  font-family: serif;
  font-weight: 700;
  font-size: 28px;
  margin: 200px;
  text-align: center;
  background-color: thistle;
  border-radius: 12px;
  padding: 10px;
}
















